html {
  font-size: 10px;
}

h1 {
  font-size: 12rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  margin: 2rem 0;
}

.photogrid {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.figure {
  flex-basis: calc(33.333% - 4rem);
  border: 1px solid orangered;
  padding: 2rem;
  flex-grow: 1;
  margin: 0rem 2rem 2rem 2rem;
}

.photo {
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.remove-button {
  flex-basis: 48%;
  color: red;
  font-size: 15px;
  border: 2px solid #f2f2f2;
  line-height: 2;
  padding: 5px;
}
